
/* ================question 1 css================= */
/* #img_1 img{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    padding: 20px;
    margin: 50px;
}
.text span:nth-child(1){
    width: 100px;
    margin: 50px;
}
.text span:nth-child(2){
    width: 100px;
    margin-left: 150px;
}
.text span:nth-child(3){
    width: 100px;
    margin-left: 190px;
}
.text span:nth-child(4
){
    width: 100px;
    margin-left: 190px;
} */